@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

.headerBg {
  background-color: #F6F6F6;
}

.cart_position>span {
  position: absolute;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 50%;
}

.hoverItem:hover {
  background-color: #DC3545;
  transition: all .5s ease;
}

.hoverItem:hover>text,
.hoverItem:hover>.icons {
  color: #FFFFFF !important;
}

.displayPhoto {
  background-color: #E2EDE5;
}


.img-wrapper {
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  transition: all .5s ease-in-out;
}

img.hover-zoom:hover {
  transform: scale(1.2);
  cursor: pointer
}


.hoverEffect:hover>.hoverItem {
  display: inline-block !important;
}

.iconHover {
  border: 1px solid #000;
  transition: all .5s ease;
}

.iconHover:hover {
  cursor: pointer;
  color: #FFFFFF;
  background: #000;
}



@media only screen and (max-width: 992px) {
  .welcome {
    display: none;
  }

  .form_position {
    margin: 16px 0;
  }

  .nav_icon {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .homePoster>small {
    font-size: 12px;
    margin: 0;
  }

  .homePoster>h2 {
    font-size: 16px;
    margin: 0;
  }

  .homePoster>p {
    margin: 0;
    font-size: 12px;
  }

  .homePoster>a {
    font-size: 14px !important;
  }

}


@media only screen and (max-width: 540px) {
  .homePoster>p {
    display: none;
  }
}

@media only screen and (max-width: 480px) {

  .homePoster>p,
  .homePoster>small {
    display: none;
  }
}